
.md-v {
    width: 1200px;
    height: 800px;
    padding: 40px;
    border-radius: 8px;
    overflow: auto;
    border: 1px solid pink;

}

.md-e {
    width: 1200px;
    height: 800px;
    border-radius: 8px;
    overflow: auto;
    border: 1px solid pink;
}
